<!DOCTYPE html>
<html>

  <head>

    <title>k 08</title>
  </head>

  <body>
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      <h3{{ each }}</h3>
    {% endfor %}

    <h1>Mongo Movies</h1>

    <form action = "/home" method="POST">
 IP Address <br> <input type = "text" name = "ipaddress">
      <br>
      Category <br>
      <input type="radio" name="search_option" value="title"> Title<br>
      <input type="radio" name="search_option" value="genre"> Genre<br>
      <input type="radio" name="search_option" value="year"> Year<br>
 <br>
 What are you searching for?
   <br> <input type = "text" name = "search">
      <br>
      <input type = "submit" name = "Submit">
    </form>


  </body>

</html>
